@import "~bootstrap/scss/bootstrap";
@font-face {
  font-family: "Big Noodles";
  src: url("../fonts/big_noodle_titling.ttf");
}

body {
  background-color: black;
  color: white;
}

p {
  font-size: 13px;
}

.logo {
  font-size: 40px;
  font-weight: 900;
  color: red;
  text-decoration: none;
}

.logo:hover {
  color: red;
  text-decoration: none;
}

h2 {
  color: red;
  font-weight: 900;
}

.cardGame {
  h1 {
    font-size: 1rem !important;
    text-align: center !important;
    font-weight: 700 !important;
  }
}
